[Unit]
Description=DevOps Lab Flask App
After=network-online.target

[Service]
User=appuser
WorkingDirectory=/opt/app
Environment=APP_CONFIG=/opt/app/config.yaml
Environment=DB_URL=postgresql://appuser:appPass!@127.0.0.1:5432/devops
ExecStart=/opt/app/venv/bin/python /opt/app/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target